@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 50%);
  --black: hsl(0, 0%, 0%);
  --orange: hsl(47, 89%, 63%);

  --fw-bold: 800;
  --fw-regular: 600;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Figtree", sans-serif;
}

body {
  background-color: var(--orange);
  font-size: 1rem;
  font-weight: var(--fw-regular);

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  max-width: 350px;
  width: 100%;
  background-color: var(--white);
  border: 1px solid var(--black);
  border-radius: 1rem;
  box-shadow: 5px 5px 0px var(--black);
  padding: 1rem;
}

.card img {
  display: block;
  max-width: 100%;
  border-radius: 0.5rem;
}

.card .card__category {
  padding: 0.3rem 0.4rem;
  background-color: var(--orange);
  color: var(--black);
  font-weight: var(--fw-bold);
  margin-block: 1.2rem 0.8rem;
  display: inline-block;
  border-radius: 3px;
}

.card .card__published {
  color: var(--black);
}

.card .card__title {
  color: var(--black);
  font-weight: var(--fw-bold);
  font-size: 1.5rem;
  margin-block: 1.4rem;
  transition: .4s;
}

.card .card__title:hover {
  color: var(--orange);
}

.card .card__desc {
  font-size: 1rem;
  color: var(--grey);
  font-weight: 400;
}

.card .card__profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.card__profile .profile__avatar {
  width: 40px;
}

.card__profile .profile__username {
  font-size: 1rem;
  color: var(--black);
  font-weight: var(--fw-bold);
}
